* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

/*html INDEX*/
.headerIndex {
  background-color: rgba(170, 178, 183, 0.655);
  width: 100%;
  height: 90px;
  font-family: 'Poppins', sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100; }
  .headerIndex .containerHeaderIndex {
    max-width: 2100px;
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 0px;
    justify-content: space-between;
    margin: auto;
    padding-left: 20px;
    align-items: center; }
    .headerIndex .containerHeaderIndex #iconoMenu {
      display: none;
      padding-right: 120px; }
    .headerIndex .containerHeaderIndex .logoHeaderIndex {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 51px; }
      .headerIndex .containerHeaderIndex .logoHeaderIndex img {
        width: 80px; }
    .headerIndex .containerHeaderIndex .navHeaderIndex {
      position: relative;
      height: 100%;
      display: flex; }
      .headerIndex .containerHeaderIndex .navHeaderIndex ul {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 20px; }
        .headerIndex .containerHeaderIndex .navHeaderIndex ul li {
          padding: 0px 20px;
          list-style: none; }
          .headerIndex .containerHeaderIndex .navHeaderIndex ul li a {
            font-size: 18px;
            font-weight: bold;
            color: #424242;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.mainIndex {
  background-image: url(../img/fondoRegistro.jfif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 80px;
  display: flex;
  justify-content: space-between;
  position: relative; }
  .mainIndex .containerMainIndex {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 40px;
    font-family: 'Poppins', sans-serif;
    margin-top: 100; }
    .mainIndex .containerMainIndex .containerInfoIndex {
      max-width: 40%;
      margin-top: 40px;
      z-index: 2; }
      .mainIndex .containerMainIndex .containerInfoIndex h1 {
        max-width: 400px;
        font-size: 55px;
        font-weight: 1000;
        color: black; }
      .mainIndex .containerMainIndex .containerInfoIndex h2 {
        font-size: 40px;
        font-weight: 700;
        color: #424242;
        margin-top: -20px; }
      .mainIndex .containerMainIndex .containerInfoIndex p {
        margin-top: 10px;
        color: lightgray;
        border: #212121;
        padding-bottom: 40px;
        padding-top: 30px; }
      .mainIndex .containerMainIndex .containerInfoIndex a {
        padding: 10px 40px;
        margin-top: 40px;
        font-size: 18px;
        font-weight: 600;
        border: none;
        color: whitesmoke;
        background-color: #757575;
        border-radius: 20px;
        box-shadow: 1px 1px 30px -5px #BDBDBD;
        cursor: pointer;
        transition: box-shadow 200ms; }
        .mainIndex .containerMainIndex .containerInfoIndex a:hover {
          box-shadow: 1px 1px 30px -5px #757575; }
    .mainIndex .containerMainIndex .containerVectorIndex {
      position: relative; }
      .mainIndex .containerMainIndex .containerVectorIndex img {
        position: absolute;
        bottom: -20px;
        right: 0px;
        width: 500px; }
    @media (max-width: 905px) {
      .mainIndex .containerMainIndex .containerVectorIndex img {
        display: none; } }

footer {
  width: 100%;
  padding: 1px 0px;
  background-color: rgba(170, 178, 183, 0.655); }
  footer .containerFooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 80px; }
    footer .containerFooter .boxFooter {
      display: flex;
      flex-direction: column;
      padding: 40px; }
      footer .containerFooter .boxFooter .logoFooter {
        height: 100%;
        display: flex;
        justify-content: left;
        align-items: center; }
        footer .containerFooter .boxFooter .logoFooter img {
          width: 80px; }
      footer .containerFooter .boxFooter .terminos {
        max-width: 350px;
        margin-top: 20px;
        font-weight: 500;
        color: black;
        font-size: 18px; }
      footer .containerFooter .boxFooter h2 {
        margin-bottom: 30px;
        color: black;
        font-weight: 700; }
      footer .containerFooter .boxFooter a {
        margin-top: 10px;
        color: black;
        font-weight: 600; }
        footer .containerFooter .boxFooter a:hover {
          opacity: 0.8; }
        footer .containerFooter .boxFooter a .fab {
          font-size: 25px; }
  footer .boxDerechosReservados {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px; }
    footer .boxDerechosReservados p {
      margin-top: 20px;
      color: black; }
    footer .boxDerechosReservados hr {
      height: 1px;
      background-color: black; }

/*boton iniciaSesion.html index*/
.mainRegister {
  background-image: url(../img/fondoRegistro.jfif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 600px;
  width: 100%;
  padding: 20px;
  padding-top: 60px;
  margin: auto; }
  .mainRegister .containerMainRegister {
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
    padding-top: 10%; }
    .mainRegister .containerMainRegister .cajaTrasera {
      width: 100%;
      padding: 10px 20px;
      margin-left: 40px;
      display: flex;
      justify-content: center;
      backdrop-filter: blur(10px);
      background-color: rgba(0, 128, 255, 0.5); }
      .mainRegister .containerMainRegister .cajaTrasera .cajaTraseraRegister {
        margin: 100px 40px;
        margin-left: 400px;
        color: white;
        transition: all 500ms; }
        .mainRegister .containerMainRegister .cajaTrasera .cajaTraseraRegister h3 {
          font-weight: 400;
          font-size: 26px; }
        .mainRegister .containerMainRegister .cajaTrasera .cajaTraseraRegister p {
          margin-top: 30px; }
        .mainRegister .containerMainRegister .cajaTrasera .cajaTraseraRegister button {
          margin-top: 30px;
          padding: 10px 40px;
          border: 2px solid #fff;
          background: transparent;
          font-size: 14px;
          font-weight: 600;
          cursor: pointer;
          outline: none;
          transition: all 300ms; }
          .mainRegister .containerMainRegister .cajaTrasera .cajaTraseraRegister button a {
            color: white; }
            .mainRegister .containerMainRegister .cajaTrasera .cajaTraseraRegister button a:hover {
              background-color: #fff;
              color: white;
              background: transparent; }
    .mainRegister .containerMainRegister .containerLogin {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 380px;
      position: relative;
      top: -185px;
      left: 10px; }
      .mainRegister .containerMainRegister .containerLogin .formularioLogin {
        width: 100%;
        padding: 80px 20px;
        background: #fff;
        position: absolute;
        border-radius: 20px; }
        .mainRegister .containerMainRegister .containerLogin .formularioLogin h2 {
          font-size: 30px;
          text-align: center;
          margin-bottom: 20px;
          color: #46A2FD; }
        .mainRegister .containerMainRegister .containerLogin .formularioLogin input {
          width: 100%;
          margin-top: 20px;
          padding: 10px;
          border: none;
          background: #f2f2f2;
          font-size: 16px;
          outline: none; }
        .mainRegister .containerMainRegister .containerLogin .formularioLogin button {
          padding: 10px 40px;
          margin-top: 40px;
          border: none;
          font-size: 16px;
          background: #46A2FD;
          color: white;
          cursor: pointer;
          outline: none; }
          .mainRegister .containerMainRegister .containerLogin .formularioLogin button a {
            color: white;
            cursor: pointer;
            outline: none; }
        .mainRegister .containerMainRegister .containerLogin .formularioLogin .botonRegistrate {
          display: none; }
        @media (max-width: 700px) {
          .mainRegister .containerMainRegister .containerLogin .formularioLogin .botonRegistrate {
            display: block; } }

/*INICIASESION- registrarse.html*/
.bodyRegistrarse {
  background-image: url(../img/fondoRegistro.jfif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; }
  .bodyRegistrarse .formRegistrarse {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    height: 600px; }
    .bodyRegistrarse .formRegistrarse form {
      width: 100%;
      padding: 80px 20px;
      background: #fff;
      position: relative;
      border-radius: 20px; }
      .bodyRegistrarse .formRegistrarse form h2 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 20px;
        color: #46A2FD; }
      .bodyRegistrarse .formRegistrarse form input {
        width: 100%;
        margin-top: 20px;
        padding: 10px;
        border: 2px;
        background: #f2f2f2;
        font-size: 16px;
        outline: none;
        border-radius: 20px; }
      .bodyRegistrarse .formRegistrarse form button {
        padding: 10px 40px;
        margin-top: 40px;
        border: none;
        font-size: 16px;
        background: #46A2FD;
        color: white;
        cursor: pointer;
        outline: none;
        border-radius: 20px; }
        .bodyRegistrarse .formRegistrarse form button a {
          color: white;
          cursor: pointer;
          outline: none; }

/*boton comoTrabajamos.html */
.containerCards {
  background-image: url(../img/fondoRegistro.jfif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  padding-top: 80px;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center; }
  .containerCards .card {
    margin: 80px 60px;
    border: 2px solid lightgrey;
    border-radius: 10px; }
    .containerCards .card .coverCard img {
      border-radius: 10px; }
    .containerCards .card h2 {
      color: lightgrey;
      font-weight: 800;
      font-size: 30px;
      font-family: 'Poppins', sans-serif; }
    .containerCards .card p {
      padding: 8px;
      width: 400px;
      color: lightgrey;
      font-weight: 200;
      font-size: 15px;
      font-family: 'Poppins', sans-serif; }
    .containerCards .card .footerCard h3, .containerCards .card .footerCard i {
      width: 400px;
      color: lightgrey;
      font-weight: 200;
      font-size: 15px;
      font-family: 'Poppins', sans-serif; }

.mainInicioMayorista {
  display: grid;
  grid-template-areas: "carrousel carrousel carrousel" "sidebar desarrollo desarrollo" "sidebar desarrollo desarrollo"; }
