@import "media/variables";

//resetear
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
//html INDEX
/*html INDEX*/
.headerIndex{
    background-color: $color-header;
    width: 100%;
    height: 90px;
    font-family: $font-family;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100; 
    border-radius: 5px;
    .containerHeaderIndex{
        max-width: 2100px;
        width: 100%;
        height: 100%;
        display: flex;
        margin-top: 0px;
        justify-content: space-between;
        margin: auto;
        padding-left: 20px;
        align-items: center;
        .logoHeaderIndex {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 51px;
            img{
                width: 80px;
            }
        }
        
        .navHeaderIndex{
            position: relative;
            height: 100%;
            display: flex;
            ul{
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-right: 20px;
                li{
                    padding: 0px 20px;
                    list-style: none; 
                    a{
                        font-size: 18px;
                        font-weight: bold;
                        color: #424242;
                        font-family: $font-family;
                    }
                    #icon-menu{
                        display: none;
                        cursor: pointer;
                        font-size: 24px;
                    }
                    @media (max-width:823px){
                        #icon-menu{
                            display: block;
                        }
                    }
                }
                @media (max-width:823px){
                    li{
                        a{
                            display: none;
                        }
                    }
                }
            }
        }
    
    }
    
}
.mainIndex{
    background-image: url(../img/fondoRegistro.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    position: relative;
    .containerMainIndex{
        width: 100%;
        padding-top: 50px;
        padding-bottom: 40px;
        font-family: $font-family;
        margin-top: 100;
        .containerInfoIndex{
            max-width: 40%;
            margin-top: 40px;
            z-index: 2;
            h1{
                max-width: 400px;
                font-size: 55px;
                font-weight: 1000;
                color: black;
            }
            h2{
                font-size: 40px;
                font-weight: 700;
                color: #424242;
                margin-top: -20px;
            }
            p{
                margin-top: 10px;
                color: #fff;
                padding-bottom: 40px;
                padding-top: 30px;
            }
            a{
                padding: 10px 40px;
                margin-top: 40px;
                font-size: 18px;
                font-weight: 600;
                border: none;
                color: whitesmoke;
                background-color: #757575;
                border-radius: 20px;
                box-shadow: 1px 1px 30px -5px #BDBDBD;
                cursor: pointer;
                transition: box-shadow 200ms;
                &:hover{
                    box-shadow: 1px 1px 30px -5px #757575;
                }
            }
            
        }
        .containerVectorIndex{
            position: relative;
            img{
                position: absolute;
                bottom: -20px;
                right: 0px;
                width: 400px;
                margin-right: 40px;
            }
        }
        @media (max-width:905px) {
            .containerVectorIndex{
                img{
                display: none;
                }
            }
        }
    }
}
.footerIndex{
    width: 100%;
    padding: 1px 0px;
    background-color: $color-header;
    .containerFooter{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;
        margin-top: 80px;
        .boxFooter{
            display: flex;
            flex-direction: column;
            padding: 40px;
            .logoFooter{
                height: 100%;
                display: flex;
                justify-content: left;
                align-items: center;
                img{
                    width: 80px;
                }
            }
            .terminos{
                max-width: 350px;
                margin-top: 20px;
                font-weight: 500;
                color: black;
                font-size: 18px;
            }
            h2{
                text-decoration: none;
                margin-bottom: 30px;
                color: black;
                font-weight: 700;
            }
            a{
                text-decoration: none;
                margin-top: 10px;
                color: black;
                font-weight: 600;
                &:hover{
                    opacity: 0.8;
                }
                .fab{
                    font-size: 25px;
                }
            }
        }
    }
    .boxDerechosReservados{
        max-width: 1200px;
        margin: auto;
        text-align: center;
        padding: 0px 40px;
        p{
            margin-top: 20px;
            color: black;
        }
        hr{
            height: 1px;
            background-color: black;
        }
        
    }
}

//boton iniciaSesion.html index
/*boton iniciaSesion.html index*/
.mainRegister{
    background-image: url(../img/fondoRegistro.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 600px;
    width: 100%;
    padding: 20px;
    padding-top: 60px;
    margin: auto;
    .containerMainRegister{
        width: 100%;
        max-width: 800px;
        margin: auto;
        position: relative;
        padding-top: 10%;
        .cajaTrasera{
            font-family: $font-family;
            width: 100%;
            padding: 10px 20px;
            margin-left: 40px;
            display: flex;
            justify-content: center;
            backdrop-filter: blur(10px);
            background-color: rgba(0, 128, 255, 0.5);
            .cajaTraseraRegister{
                margin: 100px 40px;
                margin-left: 400px;
                color: white;
                transition: all 500ms;
                h3{
                    font-weight: 400;
                    font-size: 26px;
                }
                p{
                    margin-top: 30px;
                }
                button{
                    margin-top: 30px;
                    padding: 10px 40px;
                    border: 2px solid #fff;
                    background: transparent;
                    font-size: 14px;
                    font-weight: 600;
                    cursor: pointer;
                    outline: none;
                    transition: all 300ms;
                    a{
                        color: white;
                        &:hover{
                            background-color: #fff;
                            color: white;
                            background: transparent;
                        }
                    }
                }
            }
        }
        @media (max-width:700px){
            .cajaTrasera{
                display: none;
            }
        }

        .containerLogin{
            font-family: $font-family;
            display: flex;
            align-items: center;
            width: 100%;
            max-width: 380px;
            position: relative;
            top: -185px;
            left: 10px;
            .formularioLogin{
                width: 100%;
                padding: 80px 20px;
                background: #fff;
                position: absolute;
                border-radius: 20px;
                h2{
                    font-size: 30px;
                    text-align: center;
                    margin-bottom: 20px;
                    color: #46A2FD;
                }
                input{
                    width: 100%;
                    margin-top: 20px;
                    padding: 10px;
                    border: none;
                    background: #f2f2f2;
                    font-size: 16px;
                    outline: none;
                }
                button{
                    padding: 10px 40px;
                    margin-top: 40px;
                    border: none;
                    font-size: 16px;
                    background: #46A2FD;
                    color: white;
                    cursor: pointer;
                    outline: none;
                    a{
                        color: white;
                        cursor: pointer;
                        outline: none;
                    }
                }
                .botonRegistrate{
                    display: none;
                }
                @media (max-width:700px){
                    .botonRegistrate{
                        display: block;
                    }
                }
            }
            
        }
    }
    @media (max-width:700px){
        .containerMainRegister{
            margin-top: 420px;
        }
    }
}

//INICIASESION- registrarse.html index
/*INICIASESION- registrarse.html index*/
.bodyRegistrarse{
    background-image: url(../img/fondoRegistro.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    .formRegistrarse{
        font-family: $font-family;
        margin:auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 380px;
        position: relative;
        height: 600px;
        form{
            width: 100%;
            padding: 80px 20px;
            background: #fff;
            position: relative;
            border-radius: 20px;
            h2{
                font-size: 30px;
                text-align: center;
                margin-bottom: 20px;
                color: #46A2FD;
            }
            input{
                width: 100%;
                margin-top: 20px;
                padding: 10px;
                border: 2px;
                background: #f2f2f2;
                font-size: 16px;
                outline: none;
                border-radius: 20px;
            }
            button{
                padding: 10px 40px;
                margin-top: 40px;
                border: none;
                font-size: 16px;
                background: #46A2FD;
                color: white;
                cursor: pointer;
                outline: none;
                border-radius: 20px;
                a{
                    color: white;
                    cursor: pointer;
                    outline: none;
                }
            }
        }

    }
}

//boton comoTrabajamos.html index
/*boton comoTrabajamos.html index*/
.containerCards{
    background-image: url(../img/fondoRegistro.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    padding-top: 80px;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    .card{
        margin: 80px 60px;
        border: 2px solid lightgrey;
        border-radius: 10px;
        .coverCard{
            img{
                border-radius: 10px;
            }
        }
        h2{
            color: lightgrey;
            font-weight: 800;
            font-size: 30px;
            font-family: $font-family;
        }
        p{
            padding: 8px;
            width: 400px;
            color: lightgrey;
            font-weight: 200;
            font-size: 15px;
            font-family: $font-family;
        }
        .footerCard{
            h3, i{
                width: 400px;
                color: lightgrey;
                font-weight: 200;
                font-size: 15px;
                font-family: $font-family;
            }
        }
    }
}

//boton sobreNosotros.html index
/*boton sobreNosotros.html index*/
.sobreNosotros{
    background-image: url(../img/fondoRegistro.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    .videoSobreNosotros{
        overflow:hidden;
        display: flex;
        width: 450px;
        margin-top: 120px;
        iframe{
            left:0;
            top:0;
            height:100%;
            width:100%;
            position:absolute;
        }
    }
}

//boton inicioMayorista.html
/*boton incioMayorista.html*/
.inicioMayorista{
    .headerInicio{
        grid-area: headerInicio;
        display: grid;
        grid-template-columns: 200px auto 200px;
        grid-template-areas: "logoVolverInicio buscadorInicio carritoLoginInicio"
                            "logoVolverInicio navbarInicio carritoLoginInicio"
        ;
        background-color: $color-header;
        width: 100%;
        height: 90px;
        font-family: $font-family;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 100; 
        border-radius: 5px;
        .logoVolverInicio{
            grid-area: logoVolverInicio;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .logoInicio{
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: 89px;
                padding-bottom: 13px;
                img{
                    width: 80px;
                }
            }
            .volverInicio{
                a{
                    font-size: 10px;
                    font-weight: bold;
                    color: #424242;
                    font-family: $font-family;
                    text-decoration: none;
                    padding: 6px;
                    padding-bottom: 22px;
                    display: flex;
                    justify-content: center;
                }
            }
    
        }
        .buscadorInicio{
            grid-area: buscadorInicio;
            margin-left: 70px;
            margin-top: 10px;
            input{
                width: 800px;
                border-radius: 15px;
                background-color: rgba(88, 93, 96, 0.655);
            }
        }
        @media (max-width:1235px){
            .buscadorInicio{
                input{
                    width: 650px;
                }
            }
        }
        @media (max-width:1070px){
            .buscadorInicio{
                input{
                    display: none;
                }
            }
        }
        @media (max-width:895px){
            .buscadorInicio{
                input{
                    display: none;
                }
            }
        }
        @media (max-width:802px){
            .buscadorInicio{
                input{
                    display: none;
                }
            }
        }
        @media (max-width:605px){
            .buscadorInicio{
                input{
                    display: none;
                }
            }
        }
        .carritoLoginInicio{
            grid-area: carritoLoginInicio;
            ul{
                display: flex;
                position: relative;
                justify-content: center;
                padding-top: 28px;
                li{
                    padding: 5px;
                    text-decoration: none;
                    list-style: none;
                }
            }
            .bars{
                #icon-menu{
                    display: none;
                }
                @media (max-width:930px){
                    #icon-menu{
                        display: block;
                        cursor: pointer;
                        font-size: 24px;
                    }
                }
                
            }
            .carritoInicio{
                padding-right: 20px;
                img{
                    width: 20px;
                }
            }
            .loginInicio{
                img{
                    width: 20px;
                }
            }
        }
        @media (max-width:930px){
            .carritoLoginInicio{
                .carritoInicio, .loginInicio{
                    display: none;
                }
            }
        }
        .navbarInicio{
            grid-area: navbarInicio;
            ul{
                display: flex;
                justify-content: center;
                padding-top: 20px;
                li{ 
                    padding: 0px 40px;
                    list-style: none;
                    a{
                        text-decoration: none;
                        font-size: 18px;
                        font-weight: bold;
                        color: #424242;
                        font-family: $font-family;
                        padding: 10px;
                    }
                }
            }
        }
        @media (max-width:895px){
            .navbarInicio{
                display: none;
            }
        }
    }
    .mainInicio{
        background-image: url(../img/fondoPantalla.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        width: 100%;
        height: auto;
        .productosDestacadosInicio{
           .tituloInicio{
            text-align: center;
            margin-top: 40px;
            color: #212121;
           } 
           .containerCardsInicio{
                width: 100%;
                margin: auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                position: absolute;
                font-family: $font-family;
                .cardInicio{
                    background-image: url(../img/fondoPagina.jpg);
                    background-position: 200px;
                    width: 350px;
                    margin: 5px;
                    padding: 20px;
                    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
                    background: rgba(255, 255, 255, 0.1);
                    border-left: 2px solid rgba(255, 255, 255, 0.5);
                    border-top: 1.5px solid rgba(255, 255, 255, 0.5);
                    border-radius: 15px;
                    backdrop-filter: blur(5px);
                    -webkit-backdrop-filter: blur(5px);
                    transition: all 300ms;
                    &:hover{
                        transform: translateY(-12px);
                        transform: scale(0,2.0,2);
                        z-index: 2;
                    }
                    .coverCardInicio{
                        display: block;
                        justify-content: space-between;
                        width: 200px;
                        height: 200px;
                        border-radius: 14px;
                        overflow: hidden;
                        img{
                            border-radius: 10px;
                            width:204px;
                            height: 100%;
                            transition: all 100ms;
                            &:hover{
                                transform: scale(1.1);
                            }
                        }
                    }
                    h2{
                        color: lightgray;
                        font-size: 20px;
                        font-weight: 800;
                        margin-top: 10px;
                    }
                    h3{
                        color: lightgray;
                        margin-top: 10px;
                        font-size: 15px;
                        font-weight: 500;
                    }
                    p{
                        margin-top: 10px;
                        font-size: 40px;
                        font-weight: 200;
                        text-align: center;
                        color: #153758;
                        letter-spacing: 0.5px;
                    }
                    hr{
                        margin-top: 20px;
                        border: none;
                        height: 0.1px;
                        background-color: #212121;
                    }
                    .footerCardInicio{
                        margin-top: 10px;
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
        }
        .promoTarjetasInicio{
            .containerBoxInicio{
                margin-top: 600px;
                display: flex;
                flex-wrap: wrap;
                margin-left: 100px;
                .boxInicio{
                    width: 273px;
                    height: 100px;
                    background: $color-header;
                    margin: 1px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    border-radius: 4px;
                    cursor: pointer;
                    &:hover{
                        transform: scale(1.008,1.008);
                        box-shadow: 0px 0px 30px -15px rgba(0, 0, 0, 0.5);
                        transition: 500ms;
                        z-index: 1;
                    }
                    img{
                        width: 23px;
                        margin-top: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    h4{
                        font-size: 14px;
                        text-align: center;
                        margin-top: 20px;
                        margin-bottom: 20px;
                        color: #000;
                        text-decoration: none;
                    }
                }
            }
            @media (max-width:1108px){
                .containerBoxInicio{
                    margin-top: 1130px;
                }
            }
            @media (max-width:741px){
                .containerBoxInicio{
                    margin-top: 1630px;
                }
            }
        }
        .logosPanificacion{
            .containerLogoPanificacion{
                display: flex;
                flex-wrap: wrap;
                margin-left: 100px;
                margin-top: 100px;
                .boxLogoPanificacion{
                    background-color: #fff;
                    margin: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;  
                    border: 2px solid lightgray;
                    border-radius: 50%;
                    height: 120px;  
                    img{
                        width: 125px;
                        border-radius: 50%;
                    }
                }
            }
        }
        .publicidadCrowie{
            display: flex;
            flex-direction:row;
            flex-wrap:wrap ;
            margin-left: 10px;
            .fotoCrowie{
                display: flex;
                justify-content:flex-start;
                align-items:center;
                margin-top: 30px;
                padding: 10px;
                margin-left: 50px;
                img{
                    border-radius: 4px;
                    width: 450px;
                    height: 550px;
                }
            }
            .fotoCrowieMix{
                display: flex;
                justify-content:flex-end;
                align-items:center;
                margin-top: 30px;
                padding: 10px;
                margin-left: 50px;
                img{
                    border-radius: 4px;
                    width: 350px;
                    height: 550px;
                }
            }
        }
    }
}

//boton salados.html dulces.html panificacion.html inicioMayorista
.gridcontainerSalados{
    display: grid;
    height: 1000px;
    padding-top: 90px;
    grid-template-columns: 200px auto;
    grid-template-areas: "headerInicio headerInicio"
                        "sidebarSalados mainSalados"
                        "footerIndex footerIndex";
    
    .headerInicio{
                            grid-area: headerInicio;
                            display: grid;
                            grid-template-columns: 200px auto 200px;
                            grid-template-areas: "logoVolverInicio buscadorInicio carritoLoginInicio"
                                                "logoVolverInicio navbarInicio carritoLoginInicio"
                            ;
                            background-color: $color-header;
                            width: 100%;
                            height: 90px;
                            font-family: $font-family;
                            position: fixed;
                            top: 0;
                            right: 0;
                            z-index: 100; 
                            border-radius: 5px;
                            .logoVolverInicio{
                                grid-area: logoVolverInicio;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                .logoInicio{
                                    height: 100%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    padding-left: 89px;
                                    padding-bottom: 13px;
                                    img{
                                        width: 80px;
                                    }
                                }
                                .volverInicio{
                                    a{
                                        font-size: 10px;
                                        font-weight: bold;
                                        color: #424242;
                                        font-family: $font-family;
                                        text-decoration: none;
                                        padding: 6px;
                                        padding-bottom: 22px;
                                        display: flex;
                                        justify-content: center;
                                    }
                                }
                        
                            }
                            .buscadorInicio{
                                grid-area: buscadorInicio;
                                margin-left: 70px;
                                margin-top: 10px;
                                input{
                                    width: 800px;
                                    border-radius: 15px;
                                    background-color: rgba(88, 93, 96, 0.655);
                                }
                            }
                            @media (max-width:1235px){
                                .buscadorInicio{
                                    input{
                                        width: 650px;
                                    }
                                }
                            }
                            @media (max-width:1070px){
                                .buscadorInicio{
                                    input{
                                        width: 400px;
                                    }
                                }
                            }
                            @media (max-width:895px){
                                .buscadorInicio{
                                    input{
                                        width: 400px;
                                    }
                                }
                            }
                            @media (max-width:802px){
                                .buscadorInicio{
                                    input{
                                        width: 200px;
                                    }
                                }
                            }
                            @media (max-width:605px){
                                .buscadorInicio{
                                    input{
                                        display: none;
                                    }
                                }
                            }
                            .carritoLoginInicio{
                                grid-area: carritoLoginInicio;
                                ul{
                                    display: flex;
                                    position: relative;
                                    justify-content: center;
                                    padding-top: 28px;
                                    li{
                                        padding: 5px;
                                        text-decoration: none;
                                        list-style: none;
                                    }
                                }
                                .bars{
                                    #icon-menu{
                                        display: none;
                                    }
                                    @media (max-width:930px){
                                        #icon-menu{
                                            display: block;
                                            cursor: pointer;
                                            font-size: 24px;
                                        }
                                    }
                                    
                                }
                                .carritoInicio{
                                    padding-right: 20px;
                                    img{
                                        width: 20px;
                                    }
                                }
                                .loginInicio{
                                    img{
                                        width: 20px;
                                    }
                                }
                            }
                            @media (max-width:930px){
                                .carritoLoginInicio{
                                    .carritoInicio, .loginInicio{
                                        display: none;
                                    }
                                }
                            }
                            .navbarInicio{
                                grid-area: navbarInicio;
                                ul{
                                    display: flex;
                                    justify-content: center;
                                    padding-top: 20px;
                                    li{
                                        padding: 0px 40px;
                                        list-style: none;
                                        a{
                                            text-decoration: none;
                                            font-size: 18px;
                                            font-weight: bold;
                                            color: #424242;
                                            font-family: $font-family;
                                            padding: 10px;
                                        }
                                    }
                                }
                            }
                            @media (max-width:895px){
                                .navbarInicio{
                                    display: none;
                                }
                            }
    }
    .sidebarSalados{
        grid-area: sidebarSalados;
        background-color: white;
        height: auto;
        padding: 30px;

    }
    .mainSalados{
        background-image: url(../img/fondoPantalla.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        grid-area: mainSalados;;
        .containerCardsSalados{
            width: 100%;
            display: flex;
            overflow: hidden;
            flex-wrap:wrap;
            justify-content: center;
            text-align: center;
            .cardSalados{
                cursor: pointer;
                margin: 10px 5px;
                border: 2px solid lightgrey;
                border-radius: 10px;
                background-color: rgba(237, 237, 237, 0.938);
                .coverCardSalados{
                    display: block;
                    justify-content: space-between;
                    img{
                        border-radius: 10px;
                        width:204px;
                    }
                }
                h2{
                    color: rgba(106, 106, 106, 0.719);
                    font-weight: 800;
                    font-size: 15px;
                    font-family: $font-family;
                    padding: 10px;
                }
                p{
                    padding: 1px;
                    color: rgba(106, 106, 106, 0.719);
                    font-weight: 200;
                    font-size: 15px;
                    font-family: $font-family;
                }
                .footerCardSalados{
                    h3{
                        margin-top: 10px;
                        font-size: 40px;
                        font-weight: 200;
                        text-align: center;
                        color: #153758;
                        letter-spacing: 0.5px;
                    }
                }
            }
        }

    }
    .footerIndex{
        grid-area: footerIndex;
        background-color: $color-footer;
    }
}
@media (max-width:700px){
    .gridcontainerSalados{
        display: grid;
        height: 1000px;
        padding-top: 90px;
        grid-template-columns: 200px auto;
        grid-template-areas: "headerInicio headerInicio"
                            "sidebarSalados sidebarSalados"
                            "mainSalados mainSalados"
                            "footerIndex footerIndex";
        
        .headerInicio{
            grid-area: headerInicio;
            display: grid;
            grid-template-columns: 200px auto 200px;
            grid-template-areas: "logoVolverInicio buscadorInicio carritoLoginInicio"
                                "logoVolverInicio navbarInicio carritoLoginInicio"
            ;
            background-color: $color-header;
            width: 100%;
            height: 90px;
            font-family: 'Poppins', sans-serif;
            position: fixed;
            top: 0;
            right: 0;
            z-index: 100; 
            border-radius: 5px;
            .logoVolverInicio{
                grid-area: logoVolverInicio;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .logoInicio{
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-left: 89px;
                    padding-bottom: 13px;
                    img{
                        width: 80px;
                    }
                }
                .volverInicio{
                    a{
                        font-size: 10px;
                        font-weight: bold;
                        color: #424242;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        text-decoration: none;
                        padding: 6px;
                        padding-bottom: 22px;
                        display: flex;
                        justify-content: center;
                    }
                }
    
            }
            .buscadorInicio{
                grid-area: buscadorInicio;
                padding-left: 70px;
                padding-top: 10px;
                input{
                    width: 800px;
                    border-radius: 15px;
                    background-color: rgba(88, 93, 96, 0.655);
    
                }
            }
            .carritoLoginInicio{
                grid-area: carritoLoginInicio;
                ul{
                    display: flex;
                    position: relative;
                    justify-content: center;
                    padding-top: 28px;
                    li{
                        padding: 5px;
                        text-decoration: none;
                        list-style: none;
                    }
                }
                .carritoInicio{
                    padding-right: 20px;
                    img{
                        width: 20px;
                    }
                }
                .loginInicio{
                    img{
                        width: 20px;
                    }
                }
            }
            .navbarInicio{
                grid-area: navbarInicio;
                ul{
                    display: flex;
                    justify-content: center;
                    padding-top: 20px;
                    li{
                        padding: 0px 40px;
                        list-style: none;
                        a{
                            text-decoration: none;
                            font-size: 18px;
                            font-weight: bold;
                            color: #424242;
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                            padding: 10px;
                        }
                    }
                }
            }
        }
        .sidebarSalados{
            grid-area: sidebarSalados;
            background-color: rgba(237, 237, 237, 0.938);
            height: auto;
            padding: 30px;
            width: 100%;
            display: flex;
            overflow: hidden;
            flex-wrap:wrap;
            justify-content: center;
            text-align: center;
            img{
                width: 50px;
                margin-top: -25px;
                margin-left: 30px;
            }
    
        }
        .mainSalados{
            background-image: url(../img/fondoPantalla.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
            grid-area: mainSalados;;
            .containerCardsSalados{
                width: 100%;
                display: flex;
                overflow: hidden;
                flex-wrap:wrap;
                justify-content: center;
                text-align: center;
                .cardSalados{
                    cursor: pointer;
                    margin: 10px 5px;
                    border: 2px solid lightgrey;
                    border-radius: 10px;
                    background-color: rgba(237, 237, 237, 0.938);
                    .coverCardSalados{
                        display: block;
                        justify-content: space-between;
                        img{
                            border-radius: 10px;
                            width:204px;
                        }
                    }
                    h2{
                        color: rgba(106, 106, 106, 0.719);
                        font-weight: 800;
                        font-size: 15px;
                        font-family: $font-family;
                        padding: 10px;
                    }
                    p{
                        padding: 1px;
                        color: rgba(106, 106, 106, 0.719);
                        font-weight: 200;
                        font-size: 15px;
                        font-family: $font-family;
                    }
                    .footerCardSalados{
                        h3{
                            color: rgba(106, 106, 106, 0.719);
                            font-weight: 200;
                            font-size: 15px;
                            font-family: $font-family;
                        }
                    }
                }
            }
    
        }
        .footerIndex{
            grid-area: footerIndex;
            background-color: $color-footer;
        }
    }
}
